.box {
    border: 1px solid black;
    height: 200px;
}
#box1 {
    background-color: green;
}
#box2 {
    background-color: yellow;
}
#box3 {
    background-color: red;
}
#box4 {
    background-color: blue;
}
.fade {
    opacity: .3;
}
